<html>
<head>
<title>Messentation, by Dev Leppard</title>
<head>
<body>
Your page can be found at 
    <a
      href="insert.url.here/pages/{{.pageId}}">
        insert.url.here/pages/{{.pageId}}
    </a>.
<br />
Add images by sending mms to {{.phoneNumber}}!
</body>
</html>
